<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>527516655053-fltastuv9tf700nvd9b4lm9cn6gtnasa.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>527516655053-19pmf3b9jh4uoiev1guhvp38rnra3ha1.apps.googleusercontent.com</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.527516655053-19pmf3b9jh4uoiev1guhvp38rnra3ha1</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
